In [28]:
dd = [(1, 'jehan_numa.png', 'Sujata hotel', 4.1, '1234567895', '2-star', 'Asarori', 'Asarori'), (10, 'jehan_numa.png', 'Taj hotel', 4.3, '7894561235', '4-star', 'Asthal', 'Asthal'), (9, 'jehan_numa.png', 'New welcome hotel', 4.4, '7894561325', '5-star', 'Bajhet', 'Bajhet'), (8, 'jehan_numa.png', 'Rostera hotel', 4.5, '4215789465', '5-star', 'Johari', 'Johari'), (7, 'jehan_numa.png', 'Anmol hotel', 4.8, '4215789653', '3-star', 'Daiswala', 'Daiswala'), (6, 'jehan_numa.png', 'Shrikant hotel', 4.1, '7894563214', '5-star', 'Dudhali', 'Dudhali'), (5, 'jehan_numa.png', 'Welcome hotel', 4.9, '1245789632', '4-star', 'Badripur', 'Badripur'), (4, 'jehan_numa.png', 'KFC hotel', 4.8, '4789562514', '5-star', 'Doiwala', 'Doiwala'), (3, 'sayaji.png', 'Neelyog hotel', 4.6, '4785963258', '3-star', 'Banvtha', 'Banvtha'), (2, 'marriott.png', 'Radha krisna hotel', 4.7, '4578956324', '5-star', 'Chalang', 'Chalang')]

In [29]:
print(type(dd))

<class 'list'>

In [30]:
Output = sorted(dd, key = lambda x:float(x[3]))

In [31]:
new_list = Output[::-1]

In [33]:
import pymysql
def dbConnection():
    try:
        connection = pymysql.connect(host="localhost", user="root", password="root", database="tour_recommendation")
        return connection
    except Exception as e:
        print(e)
        print("Something went wrong in database Connection")

def dbClose():
    try:
        dbConnection().close()
    except:
        print("Something went wrong in Close DB Connection")

con = dbConnection()
cursor = con.cursor()

cursor.execute('SELECT * FROM place_db WHERE rating > 4.5 ORDER BY rating DESC')
row = cursor.fetchall()
print(row)
print("HHHHHHHHHHHHHH")
cursor.execute('SELECT * FROM place_db WHERE rating < 4.5 ORDER BY rating ASC')
row1 = cursor.fetchall()
print(row1)

((2, 'bhojtal.png', 'Bhojtal', 4.9, 'Upper Lake', '6:30am - 6:30pm', '78964513257', 'Bhojtal, Madhya Pradesh', 'ghansoli'), (1, 'van_vihar.png', 'Van Vihar National Park', 4.8, 'Sizable Parkland with wild animals', '6:30am - 6:30pm', '1245879632', 'Van Vihar National Park, Shymala Hills, Bhopal, Madhya Pradesh', 'Airoli'), (3, 'taj_mahal.png', 'Taj Mahal Palace', 4.7, 'Architecture, history, and palace', '6:30am - 6:30pm', '7245189435', 'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001', 'rabale'), (4, 'bhojtal.png', 'Bhojtal', 4.6, 'Upper Lake', '6:30am - 6:30pm', '12457849568', 'Bhojtal, Madhya Pradesh', 'juinagar'))
HHHHHHHHHHHHHH
((8, 'taj_mahal.png', 'Taj Mahal Palace', 4.2, 'Architecture, history, and palace', '6:30am - 6:30pm', '4315784956', 'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001', 'nerul'), (6, 'taj_mahal.png', 'Taj Mahal Palace', 4.3, 'Upper Lake', '6:30am - 6:30pm', '1245785926', 'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001', 'koparkhairane'), (7, 'bhojtal.png', 'Bhojtal', 4.4, 'Architecture, history, and palace', '6:30am - 6:30pm', '346158956', 'Bhojtal, Madhya Pradesh', 'thane'))

In [34]:
import pandas as pd
df=pd.DataFrame(row,columns=["id","cityimage","city","rating","something","something1","something2","something3","something4"])

In [35]:
df

,id,cityimage,city,rating,something,something1,something2,something3,something4
0,2,bhojtal.png,Bhojtal,4.9,Upper Lake,6:30am - 6:30pm,78964513257,"Bhojtal, Madhya Pradesh",ghansoli
1,1,van_vihar.png,Van Vihar National Park,4.8,Sizable Parkland with wild animals,6:30am - 6:30pm,1245879632,"Van Vihar National Park, Shymala Hills, Bhopal...",Airoli
2,3,taj_mahal.png,Taj Mahal Palace,4.7,"Architecture, history, and palace",6:30am - 6:30pm,7245189435,"Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pra...",rabale
3,4,bhojtal.png,Bhojtal,4.6,Upper Lake,6:30am - 6:30pm,12457849568,"Bhojtal, Madhya Pradesh",juinagar

In [36]:
df.drop(df.index[df['rating'] == 4.5], inplace = True)

In [37]:
df

,id,cityimage,city,rating,something,something1,something2,something3,something4
0,2,bhojtal.png,Bhojtal,4.9,Upper Lake,6:30am - 6:30pm,78964513257,"Bhojtal, Madhya Pradesh",ghansoli
1,1,van_vihar.png,Van Vihar National Park,4.8,Sizable Parkland with wild animals,6:30am - 6:30pm,1245879632,"Van Vihar National Park, Shymala Hills, Bhopal...",Airoli
2,3,taj_mahal.png,Taj Mahal Palace,4.7,"Architecture, history, and palace",6:30am - 6:30pm,7245189435,"Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pra...",rabale
3,4,bhojtal.png,Bhojtal,4.6,Upper Lake,6:30am - 6:30pm,12457849568,"Bhojtal, Madhya Pradesh",juinagar

In [38]:
df2=pd.DataFrame(row1,columns=["id","cityimage","city","rating","something","something1","something2","something3","something4"])

In [39]:
df2.drop(df2.index[df2['rating'] == 4.5], inplace = True)

In [40]:
frames=[df,df2]
final_df=pd.concat(frames)

In [41]:
final_df

,id,cityimage,city,rating,something,something1,something2,something3,something4
0,2,bhojtal.png,Bhojtal,4.9,Upper Lake,6:30am - 6:30pm,78964513257,"Bhojtal, Madhya Pradesh",ghansoli
1,1,van_vihar.png,Van Vihar National Park,4.8,Sizable Parkland with wild animals,6:30am - 6:30pm,1245879632,"Van Vihar National Park, Shymala Hills, Bhopal...",Airoli
2,3,taj_mahal.png,Taj Mahal Palace,4.7,"Architecture, history, and palace",6:30am - 6:30pm,7245189435,"Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pra...",rabale
3,4,bhojtal.png,Bhojtal,4.6,Upper Lake,6:30am - 6:30pm,12457849568,"Bhojtal, Madhya Pradesh",juinagar
0,8,taj_mahal.png,Taj Mahal Palace,4.2,"Architecture, history, and palace",6:30am - 6:30pm,4315784956,"Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pra...",nerul
1,6,taj_mahal.png,Taj Mahal Palace,4.3,Upper Lake,6:30am - 6:30pm,1245785926,"Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pra...",koparkhairane
2,7,bhojtal.png,Bhojtal,4.4,"Architecture, history, and palace",6:30am - 6:30pm,346158956,"Bhojtal, Madhya Pradesh",thane

In [42]:
final_df.values.tolist()

[[2,
  'bhojtal.png',
  'Bhojtal',
  4.9,
  'Upper Lake',
  '6:30am - 6:30pm',
  '78964513257',
  'Bhojtal, Madhya Pradesh',
  'ghansoli'],
 [1,
  'van_vihar.png',
  'Van Vihar National Park',
  4.8,
  'Sizable Parkland with wild animals',
  '6:30am - 6:30pm',
  '1245879632',
  'Van Vihar National Park, Shymala Hills, Bhopal, Madhya Pradesh',
  'Airoli'],
 [3,
  'taj_mahal.png',
  'Taj Mahal Palace',
  4.7,
  'Architecture, history, and palace',
  '6:30am - 6:30pm',
  '7245189435',
  'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001',
  'rabale'],
 [4,
  'bhojtal.png',
  'Bhojtal',
  4.6,
  'Upper Lake',
  '6:30am - 6:30pm',
  '12457849568',
  'Bhojtal, Madhya Pradesh',
  'juinagar'],
 [8,
  'taj_mahal.png',
  'Taj Mahal Palace',
  4.2,
  'Architecture, history, and palace',
  '6:30am - 6:30pm',
  '4315784956',
  'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001',
  'nerul'],
 [6,
  'taj_mahal.png',
  'Taj Mahal Palace',
  4.3,
  'Upper Lake',
  '6:30am - 6:30pm',
  '1245785926',
  'Taj Mahal Palace, Kohefiza, Bhopal, Madhya Pradesh 462001',
  'koparkhairane'],
 [7,
  'bhojtal.png',
  'Bhojtal',
  4.4,
  'Architecture, history, and palace',
  '6:30am - 6:30pm',
  '346158956',
  'Bhojtal, Madhya Pradesh',
  'thane']]